


// @import "../soft-ui-dashboard/variables";

.action-btn i {
    margin-left: 9px;
    font-size: 12px;
}


.action-btn span {
    font-size: 14px;
    color: $dark-gradient-state;
}


.ds-type-inner {
    background: #ededed;
    border-radius: 5px;
    
}